[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
numpy = "*"
scipy = "*"
Flask-Bootstrap = "*"
opencv-python = "*"
pylint = "*"


[dev-packages]

