<!--Created by: Jacob A. Erickson
Last Modified: 12/10/17
Created for Course: CST 205 - 1 Multimedia Design & Programing
The html code that styles the home page of the website created by app.py.-->

{% extends "bootstrap/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Final Project{% endblock %}</title>
</head>
<body>
  <div class="container">

  <p><h1><b>Let's Dub Some Audio!!!</b></h1></p>

  <form method="post" enctype="multipart/form-data">
    <p>
      Please click browse to upload a video to add the audio for.
    </p>
    <input type="file" name="file" accept="video/*"><br>
    <input class ="btn btn-primary" type="submit" value="Send">
  </form>

  </div>
</body>
</html>

{% endblock %}
